<div>
    <header>
        <nav class="navbar">
            <div class="container-fluid">
                <div>
                    <a href="#">
                        <img class="logo" src="..\assets\logo.jpeg">
                    </a>
                </div>
                <input type="text" placeholder="search product">
                <div class="nav navbar-nav1">
                 <!--   <a href="#" class="btn">profile</a>
                    <a href="#" class="btn">My card</a> -->
                    <a routerLink="/login" class="btn btn1">Log In</a>
                    <a routerLink="/register" class="btn btn1">Register</a>
                </div>
            </div>
        </nav>
        </header>

</div>
